.div-login{
    padding: 5%;
    padding-left: 30%;
    padding-right: 30%;
}

.div-btn-login{
    padding: 1%;
    text-align: right;
}

.btn-login{
   width: 100px;
   height: auto;
}

.div-error{
    text-align: center;
    padding: 1%;
}

.error{
     
     color: red;
}


.login-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}